{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <!-- Левое меню -->
        {% include "catalog-menu.html" %}
        <!-- Основной контент -->
        <div class="col-md-9">
            <h2>Топ-3 продаж недели</h2>
            <div class="row">
                <!-- Карточки книг -->
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="book1.jpg" class="card-img-top" alt="Обложка книги">
                        <div class="card-body">
                            <h5 class="card-title">Название книги</h5>
                            <p class="card-text">Автор: Иванов И.И.</p>
                            <a href="/list_books" class="btn btn-primary">Купить</a>
                        </div>
                    </div>
                </div>
            </div>

            <h2 class="mt-5">Полный каталог книг</h2>
            <div class="row">
                {% for section in sections %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="{{ url_for('static', filename=section.img) }}" class="card-img-top" alt="{{ section.title }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ section.title }}</h5>
                            <a href="{{ url_for('book.list_books', genre=section.title) }}" class="btn btn-primary">Перейти в раздел</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}


